@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of meyer reset*/

/* CSS Variables */
:root {
  --card-border-radius: 8px;
  --remove-button-color: #ffffff;
  --book-title-font: 1.5rem;
  --card-padding: 2rem;
  --form-x: calc(50vw);
  --form-y: calc(50vh);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

/* New Book Form   */
.new-book {
  position: relative;
  margin: auto;
  padding: 1.6rem;
  background-color: #f1eff1;
  border-radius: 8px;
  
}

.new-book h2 {
  text-align: center;
  margin: -1rem 0 1rem 0;
}

.form-hidden {
  display: none;
}

.form-hidden.active {
  z-index: 2;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-class {
  display: flex;
  height: 2rem;
  margin-bottom: 1rem;  
}

.read-class {
  justify-content: flex-end;
  align-items: center;
  font-size: 12.5px;
}

.read-check {
  margin-right: 0;
}

.submit-book {
  margin-bottom: 0;
  justify-content: center;
}

/* End of form styles */

.overlay {
  display: none;
}

.overlay.active {
  z-index: 1;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
    background-color: white;
    padding: 10px;
    font-size: 2rem;
}

.footer {
    text-align: center;
    font-size: 1rem;
}

.main-content, .footer {
    background-color: #f0eef1;
}

.header, .footer {
    display: block;
    font-weight: bold;
}

.main-content {
    display: grid;
    flex-grow: 1;
    grid-template-rows: minmax(auto, 50px) 1fr;
}

.main-content .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .button-container button {
    font-size: 1.5rem;
    border: none;
    padding: 0px 5px;
    margin: 0px;
}

.main-content .button-container button:hover{
    background-color: grey;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 10vw;
}

.card {
    display: flex;
    justify-content: space-between;
    border: none;
    height: 300px;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.details h3 {
  font-size: large;
}

.image {
  height: 99%;
}
 .image img {
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Slider Toggle */

.toggle-label {
    position: absolute;
    bottom: 5px;
    margin: 0px;
    right: 51px;
}
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 34px;
    height: 19px;
    bottom: 5px;
    right: 5px;
    --transition-delay: 0.25s;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    visibility: hidden;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: var(--transition-delay);
    transition: var(--transition-delay);
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: var(--transition-delay);
    transition: var(--transition-delay);
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  .remove, .form-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
  }

  .remove:hover, .form-close:hover {
    transform: scale(2);
    color: red;
  }

  
